snippet pubf "public function"
public function ${1:foo}(${2})
{
	${0}
}
endsnippet

snippet prof "protected function"
protected function ${1:foo}(${2})
{
	${0}
}
endsnippet

snippet prif "private function"
private function ${1:foo}(${2})
{
	${0}
}
endsnippet

snippet cl "class"
class ${1:Bar} {
	${0}
}
endsnippet
